*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    font-family: "Helvetica Neue", sans-serif;
    margin: 25px;

}

.clock{
    font-size: 20px;
}

.calculator{
    background: black;
    border-radius: 50px;
    color: white;
    height: 1150px;
    padding: 20px;
    width: 563px;
    position: relative;
}

.top-container{
    display: flex;
    height: 250px;
    justify-content: space-between;
    padding: 0 20px;
}

.value{
    font-size: 130px;
    font-weight: 300;
    margin-bottom: 20px;
    height: 158px;
    text-align: right;
    overflow: hidden;
}

.buttons-container{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.button{
    height: 110px;
    width: 110px;
    font-size: 45px;
    border-radius: 50%;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: filter .3s;
}

.button.function{
    color: black;
    background: #a5a5a5
}

.button.operator{
    background: #f1a33c
}

.button.number-0{
    width: 250px;
    border-radius: 55px;
    justify-content: flex-start;
    padding-left: 43px;
    grid-column: 1 / span 2;
    /* grid-column-start: 1; NOT NEEDED CUZ OF GRID-COLUMN
    grid-column-end: 3; */
}

.button:active,
.button:focus{
    filter: brightness(120%);
}

.bottom{
    width: 200px;
    height: 5px;
    background: white;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}